<%=form_for(@board) do |f|%>
<table class="edit_table">
  <tr>
    <td><%=f.label :name%></td>
    <td><%=f.text_field :name, :class=>'wide'%></td>
  </tr>
  <tr>
    <td><%=f.label :description%></td>
    <td><%=f.text_field :description, :class=>'wide'%></td>
  </tr>
  <tr>
    <td><%=f.label :item_order%></td>
    <td><%=f.text_field :item_order, :class=>'wide'%></td>
  </tr>
  <tr>
    <td><%=f.label :board_group%></td>
    <td> <%=typeahead(99, @board_groups, lambda {|x| x.name},@init_group,'wide','board[board_group_id]') %>
</td>
  </tr>

</table>
  <br/>
  <%=f.submit :class=>'btn btn-primary'%>
<% end %>
